* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Manrope;
    font-size: 18px;
    color: #000;
    height: 100vh;
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}

input:active, button:active, select:active {
    border: none;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px;
}

#search {
    background-color: transparent;
    padding: 10px;
    border: 1px solid slategrey;
    color: slategray;
}

#search:focus {
    border: 1px solid #fff;
    outline: none;
    background-color: #fff;
}

.tasks-section {
    display: flexbox;
}
.add-notes {
    background-color: #ffffff84;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20%;
    margin: auto;
    padding: 20px 0;
    box-shadow: 0px 15px 10px -15px;
}

.add-notes input[type="text"], textarea {
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border: 1px solid #363636;
    font-size: 1rem;
    margin: 10px 0;
}

.add-notes textarea {
    resize: none;
}

.add-notes input[type="date"] {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 0;
    padding: 10px 0;
    margin: 10px 0;
    width: 100%;
}

.add-notes option {
    padding: 20px 0;
}

.add-notes button {
    width: 30%;
    padding: 10px 0;
    background-color: #3CCF4E;
    border: none;
}

.tasks-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 60%;
    margin: auto;
    margin-top: 40px;
}

.task-card {
    text-align: center;
    padding: 30px;
    margin: 5px 0;
    background-color: #075ff61a;
}

.task-card span {
    padding:  0px 10px;
}

.done {
    color: black;
}


.wave {
    background: rgba(18, 202, 202, 0.22);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 6em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -0.5em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -1em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

footer p {
    z-index: 1;
    position: fixed;
    width: 100%;
    bottom: 25px;
    text-align: center;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}